body{
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #D4E9C9;
}

/* 
  Landing Page
*/

h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.userInputPanel{
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  padding: 2rem;
}

.userInputPanel > input {
  border-radius: 10px;
  width: 50%;
  margin: 1.5rem auto;
  height: 1.5em;
  font-size: 1.5em;
}

.checkboxContainer{
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0.5rem;

}

.checkboxContainer > div{
  display: inline-flex;
}

/* 
  mainDisplay
*/

.mainDisplay{
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  justify-content: space-around;

}

.searcResults{
  width: 45%;
  
}

.favorites{
  width: 45%;
  
}

.searchCard{
  height: 100px;
  border-style: outset;
  border-radius: 1em;
  overflow: hidden;
  padding: 0.5em;
  background-color: cornsilk;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 5px;
  background-color: #B7DBA5;
  align-items: center;
  margin: 0.3em;
}

button{
  border-style: outset;
  border-radius: 10px;
  height: 3em;
}